# Ignore node_modules directories
node_modules/
front-end/node_modules/

# Ignore other files and directories
*.out
*.vscode
*/*.out
*/obj

front-end/node_modules/.*
front-end/package-lock.json

# Ignore compiled files
back-end/bin/*
back-end/include/*
back-end/lib/*
back-end/lib64/*
*.pyc
*.rdb
/back-end/srcs/transcendence/*

# Ignore .env
.env

