# Ignore node_modules directories
node_modules/
frontend/node_modules/

# Ignore other files and directories
*.out
*.vscode
*/*.out
*/obj
frontend/node_modules/*
frontend/node_modules/.*

# Ignore compiled files
back-end/bin/*
back-end/include/*
back-end/lib/*
back-end/lib64/*
*.pyc


